extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-controller="dataListController as dataListController", ng-cloak)
		div.contextHead
			div.leftSide
				//span.btn.lg.solid.icon(ng-click="test()") Test
				//a.btn.lg.solid.icon(href="add/team", ng-show="dataListController.ui.view == 'Teams'")
				// Just have one button to access data management portion
				//a.btn.lg.solid.icon(href="data/new", ng-if="dataListController.ui.view == 'Teams'")
				a.btn.lg.solid.icon(href="data/new")z
					i.icon-file-add
					span Create New Data
				//a.btn.lg.solid.icon(href="data/new", ng-if="dataListController.ui.view == 'Staff'")
					//i.icon-file-add
					//span New Staff
				//a.btn.lg.solid.icon(href="data/new", ng-if="dataListController.ui.view == 'Maps'")
					//i.icon-file-add
					//span New Map
			div.rightSide
				div.filterControl
					a(href="", ng-click="dataListController.ui.showFilters = !dataListController.ui.showFilters") {{dataListController.ui.showFilters ? "Hide" : "Show"}} Filter Controls
				div.tabs
					div.teams(ng-click="dataListController.ui.view = 'Teams'", ng-class="dataListController.ui.view == 'Teams' ? 'active' : ''")
						i.icon-teams
						span Teams
					div.staff(ng-click="dataListController.ui.view = 'Staff'",  ng-class="dataListController.ui.view == 'Staff' ? 'active' : ''")
						i.icon-staff
						span Staff
					div.staff(ng-click="dataListController.ui.view = 'Maps'",  ng-class="dataListController.ui.view == 'Maps' ? 'active' : ''")
						i.icon-maps
						span Maps
		div.filters(ng-show="dataListController.ui.showFilters")
				input(type="text", ng-model="teams.search", placeholder="Search Teams", ng-show="dataListController.ui.view == 'Teams'")
				input(type="text", ng-model="staff.search", placeholder="Search Staff", ng-show="dataListController.ui.view == 'Staff'")
				input(type="text", ng-model="maps.search", placeholder="Search Maps", ng-show="dataListController.ui.view == 'Maps'")
		div#Teams.data(ng-show="dataListController.ui.view == 'Teams'")
			table.standard
				thead
					tr
						th
							a(href="", ng-click="dataListController.setTeamSort('tag')") Tag
							span(ng-show="dataListController.ui.teams.sort.sortType == 'tag' && !dataListController.ui.teams.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.teams.sort.sortType == 'tag' && dataListController.ui.teams.sort.sortReverse",
										class="caret-up")
						th
							a(href="", ng-click="dataListController.setTeamSort('name')") Name
							span(ng-show="dataListController.ui.teams.sort.sortType == 'name' && !dataListController.ui.teams.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.teams.sort.sortType == 'name' && dataListController.ui.teams.sort.sortReverse",
										class="caret-up")
						th
							a(href="", ng-click="dataListController.setTeamSort('country')") Country
							span(ng-show="dataListController.ui.teams.sort.sortType == 'country' && !dataListController.ui.teams.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.teams.sort.sortType == 'country' && dataListController.ui.teams.sort.sortReverse",
										class="caret-up")
						th
						th
						th
				tbody
					tr(ng-repeat="team in dataListController.teamListData | orderBy: dataListController.ui.teams.sort.sortType : dataListController.ui.teams.sort.sortReverse")
						td.tag {{team.teamTag}}
						td.name {{team.teamName}}
						td.icon
							img(ng-src="/assets/images/teams/logo/{{team.teamTag}}.png")
						td.country
							img(ng-src="/assets/images/countries/{{team.teamCountry}}.png")
							|{{team.teamCountry}}
						td.edit
							a(ng-href="/data/team/{{team._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/data/team/{{team._id}}")
								i.icon-logout
		div#Staff.data(ng-show="dataListController.ui.view == 'Staff'")
			table.standard
				thead
					tr
						th
							a(href="", ng-click="dataListController.setStaffSort('name')") Name
							span(ng-show="dataListController.ui.staff.sort.sortType == 'name' && !dataListController.ui.staff.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.staff.sort.sortType == 'name' && dataListController.ui.staff.sort.sortReverse",
										class="caret-up")
						th
							a(href="", ng-click="dataListController.setStaffSort('alias')") Alias
							span(ng-show="dataListController.ui.staff.sort.sortType == 'alias' && !dataListController.ui.staff.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.staff.sort.sortType == 'alias' && dataListController.ui.staff.sort.sortReverse",
										class="caret-up")
						th
							a(href="", ng-click="dataListController.setStaffSort('country')") Country
							span(ng-show="dataListController.ui.staff.sort.sortType == 'country' && !dataListController.ui.staff.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.staff.sort.sortType == 'country' && dataListController.ui.staff.sort.sortReverse",
										class="caret-up")
						th
						th
				tbody
					tr(ng-repeat="staff in dataListController.casterListData | orderBy: dataListController.ui.staff.sort.sortType : dataListController.ui.staff.sort.sortReverse")
						td.name {{staff.casterName}}
						td.alias {{staff.casterAlias}}
						td.country
							img(ng-src="/assets/images/countries/{{team.teamCountry}}.png")
							|{{staff.casterCountry}}
						td.edit
							a(ng-href="/data/staff/{{staff._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/data/staff/{{staff._id}}")
								i.icon-logout
		div#Maps.data(ng-show="dataListController.ui.view == 'Maps'")
			table.standard
				thead
					tr
						th
							a(href="", ng-click="dataListController.setMapSort('map')") Map
							span(ng-show="dataListController.ui.maps.sort.sortType == 'map' && !dataListController.ui.maps.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.maps.sort.sortType == 'map' && dataListController.ui.maps.sort.sortReverse",
										class="caret-up")
						th
							a(href="", ng-click="dataListController.setMapSort('name')") Name
							span(ng-show="dataListController.ui.maps.sort.sortType == 'name' && !dataListController.ui.maps.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.maps.sort.sortType == 'name' && dataListController.ui.maps.sort.sortReverse",
										class="caret-up")
						th
							a(href="", ng-click="dataListController.setMapSort('game')") Game
							span(ng-show="dataListController.ui.maps.sort.sortType == 'game' && !dataListController.ui.maps.sort.sortReverse",
										class="caret-down")
							span(ng-show="dataListController.ui.maps.sort.sortType == 'game' && dataListController.ui.maps.sort.sortReverse",
										class="caret-up")
						th
						th
				tbody
					tr(ng-repeat="map in dataListController.mapListData | orderBy: dataListController.ui.maps.sort.sortType : dataListController.ui.maps.sort.sortReverse")
						td.map img(ng-src="/assets/images/maps/{{map.teamTag}}.png")
						td.name {{map.mapName}}
						td.game {{map.mapGame}}
						td.edit
							a(ng-href="/data/map/{{map._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/data/map/{{map._id}}")
								i.icon-logout
		span(ng-show="(dataListController.teamData == null || dataListController.teamData.length == 0) && dataListController.ui.view == 'Teams'") No data matches those criteria.
		span(ng-show="(dataListController.casterData == null || dataListController.casterData.length == 0) && dataListController.ui.view == 'Staff'") No data matches those criteria.
		span(ng-show="(dataListController.mapData == null || dataListController.mapData.length == 0) && dataListController.ui.view == 'Maps'") No data matches those criteria.
		div.pagination(ng-show="dataListController.ui.teams.sort.pages > 1 && dataListController.ui.view == 'Teams'")
			a.btn(ng-show="dataListController.ui.teams.sort.page > 1", ng-click="dataListController.previousPage('teams')") Prev Page
			| Page {{dataListController.ui.teams.sort.page}} of {{dataListController.ui.teams.sort.pages}}
			a.btn(ng-show="dataListController.ui.teams.sort.pages > 1 && dataListController.ui.teams.sort.page < dataListController.ui.teams.sort.pages", ng-click="dataListController.nextPage('teams')") Next Page
		div.pagination(ng-show="dataListController.ui.staff.sort.pages > 1 && dataListController.ui.view =='Staff'")
			a.btn(ng-show="dataListController.ui.staff.sort.page > 1", ng-click="dataListController.previousPage('staff')") Prev Page
			| Page {{dataListController.ui.staff.sort.page}} of {{dataListController.ui.staff.sort.pages}}
			a.btn(ng-show="dataListController.ui.staff.sort.pages > 1 && dataListController.ui.staff.sort.page < dataListController.ui.staff.sort.pages", ng-click="dataListController.nextPage('staff')") Next Page
		div.pagination(ng-show="dataListController.ui.maps.sort.pages > 1 && dataListController.ui.view =='Maps'")
			a.btn(ng-show="dataListController.ui.maps.sort.page > 1", ng-click="dataListController.previousPage('maps')") Prev Page
			| Page {{dataListController.ui.maps.sort.page}} of {{dataListController.ui.maps.sort.pages}}
			a.btn(ng-show="dataListController.ui.maps.sort.pages > 1 && dataListController.ui.maps.sort.page < dataListController.ui.maps.sort.pages", ng-click="dataListController.nextPage('maps')") Next Page

block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/mapResource.js')
	script(src='/assets/js/app/resources/staffResource.js')
	script(src='/assets/js/app/resources/teamResource.js')
	script(src='/assets/js/app/services/dataListService.js')
	script(src='/assets/js/app/controllers/layoutController.js')
	script(src='/assets/js/app/controllers/dataListController.js')
