doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title=title
		link(href='/assets/css/style.css', rel='stylesheet')
		link(href='/assets/css/webfont.css', rel='stylesheet')
		link(href='/assets/css/angular-datepicker-default.time.css', rel='stylesheet')
		link(href='/assets/css/loading-bar.min.css', rel='stylesheet')
		link(href='/assets/css/angular-datepicker-default.css', rel='stylesheet')
		link(href='/assets/css/angular-datepicker-default.date.css', rel='stylesheet')
		link(href='/assets/css/angular-datepicker-default.time.css', rel='stylesheet')
	body
		div.container
			div.leftSidebar
				header.logo
					a(href="/")
				div.userBlock
					a(href="#")
						img(src="/assets/images/avatar-#{locals.user.username}.png")
						span #{locals.user.username}
						div.arrow
				nav.leftNavigation
					each navsection in ["Dashboard", "Events", "Data", "Users"]
						a(id=navsection href="/" + navsection.toLowerCase())
							span.text= navsection 
			div.rightView
				block content 
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='/assets/js/angular.min.js')
		script(src='/assets/js/angular-animate.min.js')
		script(src='/assets/js/loading-bar.min.js')
		block scripts
		script(src='/assets/js/app/app.js')